/* Default style */

/* Header */

.header {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: transparent;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 0 0 1em 1em;
    z-index: 2;
}

.header .header-content {
    padding-left: 4.625em;
    padding-right: 4.625em;
    padding-top: 3em;
    display: flex;
    flex-direction: row;
}

.header .logo {
    height: 4.25em;
    z-index: 1;
}

.header .nav {
    flex-grow: 1;
    position: relative;
}

.header .nav.active {
    position: initial; /* So that on mobile it's full screen */
}

.header .nav .nav-content {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .nav .nav-content .new-btn.close {
    display: none;
    font-size: 32px;
    position: absolute;
    top: 2.125em;
    right: 2.3125em;
    transition: top 0.3s;
    background: transparent;
    color: #fff;
    padding: 0;
    transform: translate(-25%, -25%);
}

html[dir="rtl"] .header .nav .nav-content .new-btn.close {
    right: initial;
    left: 2.3125em;
    transform: translate(0, -25%);
}

.header .nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1.75em;
    height: auto;
    transition: color 0.3s;
}

.header .nav a.current {
    font-weight: bold;
    text-transform: uppercase;
}

.header .new-btn {
    font-size: 1em;
    font-weight: 500;
    background-color: #fff;
    color: #5bc6f9;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0.3125em;
    border: 0;
    padding: 0.25em 2.125em;
    cursor: pointer;
}

.select {
    position: relative;
}

.select .select-label {
    font-size: 1em;
    background-color: transparent;
    color: #fff;
    transition: color 0.3s;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.select .select-label .icon {
    margin-inline-end: 0.35em;
}

.select .select-label .chevron {
    margin-inline-start: 0.75em;
    height: 1.25em; /* To center vertically */
}

.select .select-options {
    display: none;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #5bc6f9;
}

.select .select-options a {
    margin: 0;
}

.select.active .select-options {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, 100%);
}

.select .select-options .select-option {
    color: #5bc6f9;
    background-color: #fff;
    border: 1px solid #5bc6f9;
}

.select .select-options .select-option:hover {
    color: #fff;
    background-color: #5fcf90;
}

.header .burger {
    display: none;
    position: absolute;
    bottom: 25%;
    right: 0;
    font-size: 2em;
    background-color: transparent;
    padding: 0;
    color: #fff;
}

html[dir="rtl"] .header .burger {
    right: initial;
    left: 0;
}

/* Above the fold */

.decorative-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
}

.decorative-circle::before {
    content: "";
    width: 115vw;
    height: 75vw;
    position: absolute;
    top: 15%;
    right: 25%;
    background-color: #5bc6f9;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

html[dir="rtl"] .decorative-circle::before {
    right: initial;
    left: 25%;
    transform: translate(-50%, -50%);
}

.above-the-fold {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    min-height: calc(100vh - 116px);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.above-the-fold .above-the-fold-content {
    background-color: rgba(255, 255, 255, 0.91);
    backdrop-filter: blur(4px);
    border-start-end-radius: 33px;
    z-index: 1;
    max-width: 66%;
    min-height: 75vh;
    box-sizing: border-box;
    padding: 4em 0;
    padding-left: 14.5em;
    padding-right: 6.25em;
}

html[dir="rtl"] .above-the-fold .above-the-fold-content {
    padding-left: 6.25em;
    padding-right: 14.5em;
}

.above-the-fold h1 {
    font-size: 4em;
    color: #5bc6f9;
    font-weight: 200;
    text-align: start;
    line-height: 1em;
    margin-bottom: 0.75em;
}

.above-the-fold .new-btn {
    font-size: 1em;
    margin-top: 3em;
    background-color: #5fcf90;
    transition: background-color 0.3s;
    box-shadow: 0 4px 7px rgba(95, 207, 144, 0.61);
    border-radius: 10px;
    border: 0;
    color: #fff;
    padding: 0.625em 2.375em;
    cursor: pointer;
    font-weight: 500;
}

.above-the-fold .new-btn:hover {
    background-color: #59c186;
}

.above-the-fold .new-subtitle {
    font-size: 0.75em;
    margin-top: 0.875em;
}

.above-the-fold .graphic {
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.above-the-fold .graphic img {
    width: 100%;
}

/* Scrolled default style */

.header.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(4px);
}

.header.scrolled .header-content {
    padding-top: 0;
}

.header.scrolled .nav a {
    color: #48c1fb;
}

.header.scrolled .select-label {
    color: #48c1fb;
}

.header.scrolled .new-btn {
    background-color: #ff8657;
    color: #fff;
}

.header.scrolled .burger {
    background-color: transparent;
    color: #5bc6f9;
}

/* Mobile style */

@media screen and (max-width: 1117px) {
    /* Header */

    .header.scrolled {
        border-radius: 0 0 0.5em 0.5em;
    }


    .header .burger {
        display: block;
    }

    .header .nav .nav-content {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #5bc6f9;
        color: #fff;
        z-index: 2; /* Above logo and atf content */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
    }

    .header .nav .nav-content .new-btn.close {
        display: block;
    }
    
    .header .nav.active .nav-content {
        display: flex;
    }

    .header .nav .nav-content .nav-item {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        min-width: 8em;
        text-align: center;
    }

    .header .nav .nav-content .nav-item:not(:last-child) {
        border-bottom: 1px solid #fff;
    }

    /* Above the fold */

    .decorative-circle::before {
        width: 150vw;
        height: 150vw;
        right: initial;
        left: -37.5%;
        top: 25%;
    }

    html[dir="rtl"] .decorative-circle::before {
        left: initial;
        right: -37.5%;
    }

    .above-the-fold {
        justify-content: center;
    }

    .above-the-fold .above-the-fold-content {
        max-width: initial;
        min-height: 0;
        margin: 0 2.25em;
        border-radius: 16px;
        padding: 0.75em;
        padding-top: 2.75em;
        padding-bottom: 1em;
        text-align: center;
        position: absolute;
        top: 7.25em;
        left: 0;
        margin-top: 1em;
        z-index: 1;
    }

    .above-the-fold h1 {
        font-size: 1.875em;
        text-align: center;
        margin-bottom: 1.5em;
    }

    .above-the-fold .graphic {
        justify-content: center;
        max-height: 24em;
        z-index: 0;
    }

    .above-the-fold .graphic img {
        width: initial;
        height: 100%;
    }

    /* Scrolled mobile style */

    .header.scrolled .nav .nav-content .new-btn.close {
        top: 0.75em;
    }

    .header.scrolled .nav .nav-content .nav-item,
    .header.scrolled .select .select-label {
        color: #fff;
    }

    .header.scrolled .new-btn {
        background-color: #fff;
        color: #5bc6f9;
    }
}
