.body.scrolled {
  margin-top: 74px;
}

.anchor {
  display: block;
  position: relative;
  top: -74px;
  visibility: hidden;
}

.content {
  max-width: 1280px;
  margin: auto;
}

.wave {
  fill: #f3f3f3;
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  transform: translateY(1px);
}

/* Default style */

.flex-row,
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.row * {
  flex-grow: 1;
}

.input-container {
  margin-top: 1em;
  position: relative;
  box-sizing: border-box;
}

input,
textarea {
  width: 100%;
  font-size: 1em;
  background-color: #fff;
  border: 0;
  border-radius: 6px;
  color: #484848;
  font-family: "Roboto", sans-serif;
  padding: 0.625em;
  box-sizing: border-box;
  min-width: 0;
  transition: background-color 0.3s, color 0.3s;
}

.input-container.errored input,
.input-container.errored textarea {
  color: #fc0e0e;
  border: 1px solid #fc0e0e;
  background-color: #ffeded;
}

.input-container.errored::after {
  content: "X";
  color: #fc0e0e;
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(-50%, 33%);
  margin-inline-end: 0.5em;
}

html[dir="rtl"] .input-container.errored::after {
  right: initial;
  left: 0%;
  transform: translate(25%, 66%);
}

.snake {
  display: flex;
  flex-direction: column;
}

.snake-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.snake-item:nth-child(odd) {
  flex-direction: row;
}

/* Above the fold */

.body.scrolled .above-the-fold {
  min-height: calc(100vh - 74px);
}

/* Scrolled default style */

.header.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(4px);
}

.header.scrolled .header-content {
  padding-top: 0;
}

.header.scrolled .nav a {
  color: #48c1fb;
}

.header.scrolled .select-label {
  color: #48c1fb;
}

.header.scrolled .btn {
  border: 1px solid #ff8657;
  color: #ff8657;
}

.header.scrolled .btn:hover {
  background-color: #ff8657;
  color: #fff;
}

/* How it works */

.method-screen {
  padding-top: 6.25em;
  padding-bottom: 5.5em;
  max-width: 70em;
  width: 100%;
  margin: auto;
}

.method-screen h1 {
  font-weight: 400;
  font-size: 3.75em;
  line-height: 1.4166em;
  margin-bottom: 1em;
  text-align: center;
}

.method-screen h1 b {
  color: #5bc6f9;
}

.method-screen .steps .step img {
  height: 10.625em;
  margin: 1.5em;
}

.steps {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  box-sizing: border-box;
}

.steps .step {
  text-align: center;
  width: 33%;
  margin: 0 3.125em;
  box-sizing: border-box;
}

.steps .step .title {
  display: flex;
  align-items: center;
}

.steps .step .title .icon {
  font-family: "Aldrich", sans-serif;
  font-size: 2.625em;
  background-color: #5bc6f9;
  color: #fff;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  text-align: center;
  line-height: 1.125em;
}

.steps .step .title .text {
  font-weight: 500;
  font-size: 2.25em;
  padding-inline-start: 0.4444em;
}

.steps .step .description {
  margin-top: 1em;
  font-weight: 300;
  line-height: 1.375em;
  text-align: start;
}

/* Advantages */

.advantages-screen {
  background-color: #f3f3f3;
  padding-top: 1em;
  padding-bottom: 9.125em;
}

.advantages-screen h1 {
  font-weight: 500;
  font-size: 3.5em;
  text-align: center;
}

.advantages-screen h1 b {
  color: #5bc6f9;
}

.advantages-screen .content {
  max-width: 64em;
  width: 100%;
  margin: auto;
  padding: 1em;
}

.advantages-screen .snake-item img {
  height: 17.5em;
  margin: 2em 9em 2em 0;
}

.advantages-screen .snake .snake-item:nth-child(odd) img {
  margin: 2em 0 2em 9em;
}

html[dir="rtl"] .advantages-screen .snake-item img {
  margin: 2em 0 2em 9em;
}

html[dir="rtl"] .advantages-screen .snake .snake-item:nth-child(odd) img {
  margin: 2em 9em 2em 0;
}

.advantages-screen .title {
  font-weight: 600;
  margin-bottom: 0.5em;
  font-size: 2em;
  line-height: 1.5em;
  text-align: start;
}

.advantages-screen .description {
  font-size: 1.125em;
  line-height: 1.5em;
  text-align: start;
}

/* Advantages carousel */

.advantages-screen .snake.slick-slider {
  padding: 0 4em;
  position: relative;
}

.advantages-screen .snake.slick-slider .snake-item {
  display: flex;
  flex-direction: column-reverse;
}

.advantages-screen .snake.slick-slider .title {
  font-size: 1em;
  text-align: center;
}

.advantages-screen .snake.slick-slider .description {
  font-size: 0.75em;
  text-align: center;
}

.advantages-screen .snake img {
  box-sizing: border-box;
}

.advantages-screen .snake .slick-next,
.advantages-screen .snake .slick-prev {
  border: 0;
  font-size: 2em;
  color: #c4c4c4;
  background-color: transparent;
  padding: 0.125em;
  margin: 0 0.5em;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s;
  position: absolute;
  top: 25%;
}

.advantages-screen .snake .slick-next:hover,
.advantages-screen .snake .slick-prev:hover {
  transform: scale(1.1);
}

.advantages-screen .snake .slick-next {
  right: 0;
}

.advantages-screen .snake .slick-prev {
  left: 0;
}

html[dir="rtl"] .advantages-screen .snake .slick-next {
  right: initial;
  left: 0;
}

html[dir="rtl"] .advantages-screen .snake .slick-prev {
  left: initial;
  right: 0;
}

.advantages-screen .snake .slick-list {
  flex-grow: 1;
}

.slick-dots {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.slick-dots li {
  list-style-type: none;
  padding: 0 0.25rem;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  height: 0.5rem;
  width: 0.5rem;
  padding: 0 0.25em;
  background-color: #c4c4c4;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-color: #717171;
}

/* Bottom call to action */

.bottom-cta {
  text-align: center;
  padding: 5em 0;
}

.bottom-cta p {
  font-size: 1.75em;
  line-height: 1.5em;
  margin: auto;
  padding: 0 1.15em;
  max-width: 25em;
  width: 100%;
  box-sizing: border-box;
}

.bottom-cta .btn {
  background-color: #5fcf90;
  box-shadow: 0 4px 7px rgba(95, 207, 144, 0.61);
  border-radius: 10px;
  border: 0;
  padding: 0.5em 3.75em;
  margin-top: 2em;
}

.bottom-cta .btn:hover {
  background-color: #59c186;
}

/* Contact form */

.contact-screen {
  background-color: #53b9ff;
  color: #fff;
  background-image: url("assets/wthm-repeatable.webp");
  background-repeat: repeat;
  background-position: -2rem 60%;
  overflow: hidden;
}

.contact-content {
  padding: 2.5em 0.75em;
  padding-bottom: 1.5em;
  max-width: 70em;
  margin: auto;
  box-sizing: border-box;
}

.contact-screen h2 {
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  color: #fff;
  font-size: 8em;
  padding: 0 6.25rem;
  margin: 0;
  line-height: 0.85em;
  text-align: start;
  z-index: 1; /* So that it's above the form::before blur */
  transform: scaleY(1.25);
  font-weight: normal;
  min-width: 3em;
}

html[dir="rtl"] .contact-screen h2 {
  transform: translateY(-0.2em) scaleY(1.25);
}

.contact-screen .flex-row {
  align-items: center;
}

.contact-screen .form-part {
  position: relative;
}

.contact-screen .form-part::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 175%;
  height: 150%;
  transform: translate(-50%, -50%);
  background-color: #53b9ff;
  border-radius: 50%;
  filter: blur(64px);
  opacity: 0.85;
}

.contact-screen p {
  font-size: 1.25em;
  position: relative; /* So that it's above .form-part::before */
}

.contact-screen form {
  position: relative; /* So that it's above .form-part::before */
}

.contact-screen .btn {
  background-color: #ff8657;
  box-shadow: 0 4px 4px rgba(255, 134, 87, 0.25);
  border: 0;
  border-radius: 0.3125em;
  padding: 0.25em 3em;
  margin-top: 1em;
}

.contact-screen .btn:hover {
  background-color: #ff6427;
}

.contact-screen .btn:disabled {
  background-color: #a1cbe9;
  box-shadow: 0 4px 4px rgba(164, 164, 164, 0.25);
  color: #fff;
  cursor: default;
}

.contact-screen .btn:disabled.success {
  color: #2d2;
}

.contact-screen .message {
  font-size: 0.875em;
  font-family: "Roboto", sans-serif;
  min-height: 1.5em;
  margin-top: 1.5em;
}

.contact-screen .message.error {
  color: #e45959;
}

/* Footer */

.footer {
  background-color: #464646;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1.625em 2.5em;
  position: relative;
}

.footer > div {
  width: 100%;
}

.footer img {
  position: absolute;
  left: 2.5em;
}

html[dir="rtl"] .footer img {
  left: initial;
  right: 2.5em;
}

.footer .copyright {
  width: 100%;
  text-align: center;
}

.footer .navs {
  font-family: "Roboto", sans-serif;
  width: auto;
  position: absolute;
  right: 2.5em;
}

html[dir="rtl"] .footer .navs {
  right: initial;
  left: 2.5em;
}

.footer a {
  color: #fff;
  text-decoration: none;
  padding: 0 0.75em;
}

.footer a:hover {
  text-decoration: underline;
}

/*Covid*/
.covid {
  background-color: #5bc6f9;
  color: #fff;
  position: relative;
  z-index: 1; /* So that it's above the atf graphic shadow */
  padding-top: 4.875em;
  padding-bottom: 4.875em;
  padding-inline-start: 17.5em;
  padding-inline-end: 17.5em;
}

.covid h1 {
  text-align: start;
  font-size: 1.75em;
}

.covid p {
  margin-top: 1em;
  font-size: 1.375em;
  max-width: 50vw;
}

.covid img {
  height: 15em;
  position: absolute;
  right: 0;
  bottom: 0;
  align-items: flex-end;
}

html[dir="rtl"] .covid img {
  right: initial;
  left: 0;
  transform: scaleX(-1);
}

/* Mobile style */

@media screen and (max-width: 1117px) {
  .flex-row {
    flex-direction: column;
  }

  .mobile-centered {
    text-align: center;
  }

  /* How it works */

  .method-screen {
    padding: 4em 2.47em;
    box-sizing: border-box;
  }

  .method-screen h1 {
    font-size: 31px;
    margin-bottom: 0;
  }

  .steps {
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    max-width: 40em;
    margin: auto;
  }

  .steps .step {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    margin-top: 5.5em;
  }

  .steps .step:nth-child(odd) {
    flex-direction: row-reverse;
    padding-inline-start: 2.25em;
  }

  .method-screen .steps .step img {
    margin: 0;
  }

  .steps .step:nth-child(odd) img {
    margin-inline-end: 2em;
  }

  .method-screen .steps .step1 img {
    height: 9em;
  }

  .method-screen .steps .step2 img {
    height: 6.375em;
  }

  .method-screen .steps .step3 img {
    height: 8.3125em;
    margin-top: 3em;
  }

  .steps .step .title {
    transform: translateX(-2.25em);
    padding-inline-start: 0;
  }

  html[dir="rtl"] .steps .step .title {
    transform: translateX(2.25em);
  }

  .steps .step .title .icon {
    font-size: 1.25em;
    padding: 0.125em;
  }

  .steps .step .title .text {
    font-size: 1.5em;
    padding-inline-start: 0.5em;
  }

  .steps .step .description {
    font-size: 0.875em;
  }

  /*Covid*/

  .covid {
    padding: 0;
    display: flex;
    overflow: hidden;
    resize: horizontal;
    position: relative;
    height: 15em;
  }

  .covid .covid-content {
    padding-top: 2.25em;
    padding-bottom: 3em;
    padding-inline-end: 0;
    padding-inline-start: 3.125em;
  }

  .covid h1,
  .covid p {
    margin-inline-end: 2.5rem;
  }

  .covid h1 {
    text-align: center;
    font-size: 1.5em;
  }

  .covid p {
    font-size: 1.1875em;
    max-width: 100%;
    line-height: 2rem;
  }

  .covid .image-container {
    height: calc(100% + 3em);
    display: flex;
    align-items: flex-end;
    shape-outside: circle(7.5em at calc(100% - 3.5em) calc(100% - 7em));
    float: right;
  }

  html[dir="rtl"] .covid .image-container {
    float: left;
    shape-outside: circle(7.5em at 3.5em calc(100% - 7em));
  }

  .covid img {
    position: static;
    height: 14em;
    transform: translate(3em, -2.25em);
  }

  html[dir="rtl"] .covid img {
    transform: translate(-3em, -1.75em) scaleX(-1);
  }

  /* Advantages */

  .advantages-screen {
    padding-top: 1em;
    padding-bottom: 4.25em;
  }

  .advantages-screen h1 {
    font-size: 2em;
  }

  .advantages-screen .snake-item img,
  html[dir="rtl"] .advantages-screen .snake .snake-item img,
  html[dir="rtl"] .advantages-screen .snake .snake-item:nth-child(odd) img {
    margin: 2em;
    height: 8.5em;
  }

  .advantages-screen .snake .snake-item:nth-child(2n+1) img {
    margin: 2em;
  }

  .advantages-screen .snake .snake-item > div {
    max-width: 30em;
  }

  /* Scrolled mobile style */

  .header.scrolled {
    border-radius: 0 0 0.5em 0.5em;
  }

  .header.scrolled .nav .nav-content .btn.close {
    top: 0.75em;
  }

  .header.scrolled .nav .nav-content .nav-item,
  .header.scrolled .select .select-label {
    color: #fff;
  }

  .header.scrolled .btn.burger {
    background-color: transparent;
    color: #5bc6f9;
    border: 0;
  }

  .header.scrolled .btn {
    color: #fff;
    border: 1px solid #fff;
  }

  .header.scrolled .btn:hover {
    background-color: #fff;
    color: #5bc6f9;
  }

  /* Contact form */

  .contact-screen {
    background-position: center 1.25rem;
    background-size: auto 12.25em;
  }

  .contact-screen h2 {
    font-size: 3.75rem;
    padding: 0;
    width: auto;
    min-width: 0;
    margin: auto;
    margin-bottom: 0.8em;
  }

  .contact-screen h2 div {
    display: inline-block;
  }

  .contact-screen p {
    font-size: 0.95em;
    padding: 0 1.25rem;
  }

  .contact-screen .btn {
    margin-top: 1.5em;
  }

  /* Footer */

  .footer {
    padding: 1.5em;
    display: flex;
    flex-direction: column-reverse;
  }

  .footer > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 2em;
  }

  .footer img {
    position: static;
  }

  .footer .copyright {
    text-align: end;
  }

  .footer .navs {
    position: static;
  }

  .footer a:not(:last-child) {
    border-inline-end: 1px solid #fff;
  }
}

@media screen and (max-width: 780px) {
  .covid {
    height: 17em;
  }
}

@media screen and (max-width: 600px) {
  .covid {
    height: 20em;
  }
}

@media screen and (max-width: 480px) {
  .covid {
    height: 28em;
  }
}

@media screen and (max-width: 422px) {
  .contact-screen h2 {
      font-size: 14vw;
  }
}

@media screen and (max-width: 340px) {
  .covid {
    height: auto;
  }
}

@media screen and (max-width: 340px) {
  /* How it works */

  .steps {
    display: block;
  }

  .steps .step {
    display: block;
  }

  .method-screen .steps .step3 img {
    margin-top: 0;
    margin-inline-end: 0;
  }

  /* Advantages */

  .advantages-screen .snake img {
    height: 25vw;
  }
}

@media screen and (max-width: 334px) {
  .contact-screen h2 {
    font-size: 13vw;
  }
}
