html, body {
    font-family: "Heebo", sans-serif;
}

input,
textarea {
    font-family: "Heebo", sans-serif;
}

.above-the-fold p {
    font-size: 17.5px;
}

.above-the-fold h1 b {
    font-weight: 500;
}

.steps .step .description {
    font-size: 1.12em;
}

.contact-screen h2 {
    font-family: "Heebo", sans-serif;
    font-size: 7.5em;
}

.contact-screen .message {
    font-family: "Heebo", sans-serif;
}

.footer .navs {
    font-family: "Heebo", sans-serif;
}
