html, body {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  font-size: 24px;
  background-color: #DEF4FF;
  width: 100vw;
  overflow-x: hidden;
  color: #424242;
}

@media screen and (max-width: 1380px) {
  html, body {
    font-size: 20px;
  }
}

h1, h2, h3, h4, h5 {
  margin: 0;
  color: #6CB310;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.25em;
}

a {
  color: #1F81CC;
  font-size: 1em;
}

p {
  font-size: 1em;
  margin: 0;
}

hr {
  margin: 1.5em 1em;
  border: 1px solid #c1e4f5;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 3.5rem;
  background-color: #FFF;
  background-image: linear-gradient(#FFF, #DEF4FF);
  text-align: left;
  box-shadow: 0px 0px 8px #DEF4FF;
}

.header .btn {
  margin: 0;
}

.header .content {
  display: flex;
  flex-direction: row;
  padding: 0.5em 1em;
}

.header .logo {
  height: 2em;
}

.header .nav {
  display: flex;
  align-content: flex-end;
  align-items: baseline;
  justify-content: space-evenly;
  flex-grow: 1;
  position: relative;
}

.header .nav .loginLink .btn {
  margin: 0;
  align-self: flex-end;
}

.header .nav .btn.burger {
  display: none;
  padding: 0.5em 0.75em;
  color: #888;
}

.header .navContent {
  flex-wrap: wrap;
  z-index: 1;
}

.header .nav a {
  display: inline-block;
  color: #1F81CC;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0.5em;
  transition: color 0.1s linear;
  white-space: nowrap;
}

.header a:hover {
  color: #41a4f0;
}

@media screen and (max-width: 950px) {
  .header .nav {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 790px) {
  .header .nav {
    font-size: 0.65em;
  }
}

@media screen and (max-width: 670px) {
  .header .content {
    flex-direction: row-reverse;
  }

  .header .nav {
    font-size: 1rem;
  }
  
  .header .nav .loginLink .btn {
    font-size: 1em;
  }

  .header .nav .btn.burger {
    display: block;
    margin: 0;
  }
  
  .header .nav .navContent {
    display: none;
    flex-direction: column;
    background-color: #EEE;
    padding: 0.5em 1em;
    box-shadow: 3px 3px 8px #ccc;
  }
  
  .header .nav.active .navContent {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 1em;
  }
  
  .header .nav .navContent a {
    color: #666;
    text-align: right;
    padding: 0.25em 0;
  }
}

@media screen and (max-width: 450px) {
  .header .btn, .loginLink {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 350px) {
  .logo {
    display: none;
  }
}

.body {
  margin-top: 3.5rem;
}

.anchor {
  display: block;
  position: relative;
  top: -3.5rem;
  visibility: hidden;
}

.content {
  max-width: 1280px;
  margin: auto;
}

.body .content {
  padding: 0 1em;
}

.subtitle {
  font-size: 1em;
  color: #3b6073;
  text-align: center;
  margin-top: 1em;
}

.screen {
  min-height: calc(100vh - 3.5rem);
  align-items: center;
  justify-content: center;
}

.aboveTheFold h1 {
  color: #424242;
}

.aboveTheFold .btn {
  font-size: 0.75em;
}

.aboveTheFold .subtitle {
  font-size: 0.75em;
}

.aboveTheFold .column h1 {
  width: 100%;
  text-align: right;
  font-size: 2em;
  margin-bottom: 1em;
}

.columns {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (max-width: 640px) {
  .columns {
    flex-wrap: wrap;
  }
}

.columns .column {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5em;
  justify-content: center;
  box-sizing: border-box;
}

.columns p, .columns ul {
  font-size: 1em;
}

@keyframes ambientMovement {
  0% {
    transform: scale(1.0) rotateZ(0deg);
    opacity: 1;
  }
  33% {
    transform: scale(1.0) rotateZ(1.5deg);
  }
  50% {
    opacity: 0.75;
  }
  66% {
    transform: scale(1.0) rotateZ(0deg);
  }
  100% {
    transform: scale(1.01) rotateZ(-1.5deg);
  }
}

.columns img {
  width: 75%;
  box-sizing: border-box;
  animation-name: ambientMovement;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.steps {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding: 0 0.5em;
}

.steps .step {
  flex-grow: 1;
  flex-shrink: 1;
}

.steps .step .title {
  font-weight: bold;
  text-align: right;
  font-size: 1.5em;
  margin: 0 2.5em 0.5em 0;
}

.steps .step .stepBody {
  display: flex;
  flex-direction: row;
}

.steps .step .stepBody p {
  margin: 0;
}

.steps .step .iconContainer {
  font-size: 1.5em;
  height: 1em;
  padding: 0.5em;
  background-color: #b1e5ff;
  color: #426373;
  border-radius: 50%;
  margin-left: 0.5em;
}

.steps .step .description {
  font-size: 0.8em;
  text-align: right;
  flex-grow: 1;
}

@media screen and (max-width: 920px) {
  .steps {
    flex-wrap: wrap;
  }

  .steps .step {
    margin-bottom: 1em;
  }

  .steps .step .title {
    margin-right: 2.5em;
  }

  .steps .step .iconContainer {
    font-size: 1em;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.5em;
  padding: 0 0.5em;
}

.cards .card {
  flex-grow: 1;
  max-width: 33%;
  padding: 0.5em;
  box-sizing: border-box;
}

.cards .card .iconContainer i {
  font-size: 1.5em;
  height: 1em;
  padding: 0.5em;
  background-color: #b1e5ff;
  color: #426373;
  border-radius: 50%;
}

.cards .card .cardHeader {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 0.5em;
}

.cards .card .title {
  font-weight: bold;
  text-align: right;
  margin: 0 0.75em;
}

.cards .card .description {
  font-size: 0.8em;
  text-align: right;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .cards .card {
    max-width: 50%;
  }
}

@media screen and (max-width: 640px) {
  .cards {
    flex-direction: column;
  }

  .cards .card {
    max-width: 100%;
  }
}

.btn {
  border: none;
  border-radius: 1em/50%;
  font-size: 1em;
  padding: 0.5em 2em;
  margin: 0.5em;
  margin-top: 1em;
  background-color: #fff;
  transform: scale(1.0);
  transition: background-color 0.1s linear, transform 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #F8F8F8;
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.95);
}

.btn.callToAction {
  background-color: #144B76;
  color: #E0F3FF;
  font-weight: bold;
}

.btn.callToAction:hover {
  background-color: #1167A8;
}

.buttonsContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1em;
}

.buttonsContainer a {
  display: block;
  margin: 0 0.125em;
}

.buttonsContainer a .btn {
  width: 100%;
  padding: 0.5em 1em;
}

.footer {
  background-color: #FFF;
  font-size: 0.75em;
}

.footer .content {
  color: #000;
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer p {
  margin: 0 0.25em;
}
