html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #fff;
  width: 100vw;
  overflow-x: hidden;
  color: #000;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
}

.body.scrolled {
  margin-top: 74px;
}

.anchor {
  display: block;
  position: relative;
  top: -74px;
  visibility: hidden;
}

.content {
  max-width: 1280px;
  margin: auto;
}

.wave {
  fill: #f3f3f3;
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  transform: translateY(1px);
}
