html,
body {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
  background-color: #fff;
  width: 100vw;
  overflow-x: hidden;
  color: #424242;
}

@media screen and (max-width: 1380px) {
  html,
  body {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: #6cb310;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.25em;
}

a {
  color: #1f81cc;
  font-size: 1em;
}

p {
  font-size: 1em;
  margin: 0;
}

hr {
  margin: 1.5em 1em;
  border: 1px solid #c1e4f5;
}

.body.scrolled {
  margin-top: 74px;
}

.anchor {
  display: block;
  position: relative;
  top: -74px;
  visibility: hidden;
}

.content {
  max-width: 1280px;
  margin: auto;
}

.body .content {
  padding: 0 1em;
}

.subtitle {
  font-size: 1em;
  color: #3b6073;
  text-align: center;
  margin-top: 1em;
}

.screen {
  display: flex;
  min-height: calc(100vh - 74px);
  align-items: center;
  justify-content: center;
  background-color: #e0f5ff;
  background-image: linear-gradient(#e0f5ff, #e0fcff);
}

.screen.alt1 {
  background-color: #e0fcff;
  background-image: linear-gradient(#e0fcff, #e0fffa);
}

.screen.alt2 {
  background-color: #e0fffa;
  background-image: linear-gradient(#e0fffa, #e0fff2);
}

.screen.alt3 {
  background-color: #e0fff2;
  background-image: linear-gradient(#e0fff2, #e0ffeb);
}

.columns {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (max-width: 640px) {
  .columns {
    flex-wrap: wrap;
  }
}

.columns .column {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5em;
  justify-content: center;
  box-sizing: border-box;
}

.columns p,
.columns ul {
  font-size: 1em;
}

@keyframes ambientMovement {
  0% {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
  }
  33% {
    transform: scale(1) rotateZ(1.5deg);
  }
  50% {
    opacity: 0.75;
  }
  66% {
    transform: scale(1) rotateZ(0deg);
  }
  100% {
    transform: scale(1.01) rotateZ(-1.5deg);
  }
}

.columns img {
  width: 75%;
  box-sizing: border-box;
  animation-name: ambientMovement;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.steps {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding: 0 0.5em;
}

.steps .step {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 0.5em;
}

.steps .step .title {
  font-weight: bold;
  text-align: right;
  text-align: start;
  font-size: 1.5em;
  margin: 0 2.5em 0.5em 0;
}

.steps .step .stepBody {
  display: flex;
  flex-direction: row;
}

.steps .step .stepBody p {
  margin: 0;
}

.steps .step .iconContainer {
  font-size: 1.5em;
  height: 1em;
  padding: 0.5em;
  background-color: #badaea;
  color: #426373;
  border-radius: 50%;
  margin-left: 0.5em;
}

.steps .step .description {
  font-size: 0.8em;
  text-align: start;
  flex-grow: 1;
}

@media screen and (max-width: 920px) {
  .steps {
    flex-wrap: wrap;
  }

  .steps .step {
    margin-bottom: 1em;
  }

  .steps .step .title {
    margin-right: 1.5em;
  }

  .steps .step .iconContainer {
    font-size: 1em;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: auto;
  margin-top: 0.5em;
  padding: 0 0.5em;
}

.cards .card {
  flex-grow: 1;
  max-width: 33%;
  padding: 0.5em;
  box-sizing: border-box;
}

.cards .card .iconContainer i {
  font-size: 1.5em;
  height: 1em;
  padding: 0.5em;
  background-color: #badaea;
  color: #426373;
  border-radius: 50%;
}

.cards .card .cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
}

.cards .card .title {
  font-weight: bold;
  text-align: right;
  text-align: start;
  margin: 0 0.75em;
}

.cards .card .description {
  font-size: 0.8em;
  text-align: right;
  text-align: start;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .cards .card {
    max-width: 50%;
  }
}

@media screen and (max-width: 640px) {
  .cards {
    flex-direction: column;
  }

  .cards .card {
    max-width: 100%;
  }
}

.btn {
  border: none;
  border-radius: 1em/50%;
  font-size: 1em;
  padding: 0.5em 0.7em;
  margin: 0.5em;
  margin-top: 1em;
  background-color: #fff;
  transform: scale(1);
  transition: background-color 0.1s linear, transform 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #f8f8f8;
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.95);
}

.btn.callToAction {
  background-color: #144b76;
  color: #e0f3ff;
  font-weight: bold;
}

.btn.callToAction:hover {
  background-color: #1167a8;
}

.buttonsContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1em;
}

.buttonsContainer a {
  display: block;
  margin: 0 0.125em;
}

.buttonsContainer a .btn {
  width: 100%;
  padding: 0.5em 1em;
  margin: 0;
}

.footer .content {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer {
  background-color: #464646;
}

.footer p,
a {
  margin: 0 0.25em;
  color: #ffffff;
  font-family: Al Nile;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}
.footer .credits {
  margin: auto;
  order: 2;
}
.footer .navbar {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: row;
  order: 3;
}
.footerLogo {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  order: 1;
}

.footer .navbar span {
  display: none;
  color: #ffff;
}

@media screen and (max-width: 490px) {
  .footer .navbar span {
    display: inline;
  }

  .footer .content .navbar {
    flex-basis: 100%;
    text-align: center;
    order: 1;
  }

  .footerLogo {
    order: 2;
  }
  .footer .credits {
    text-align: end;
    flex: max-content;
    order: 3;
  }
}

.wave {
  fill: #e5e5e5;
  background-color: #fff;
  display: flex;
  align-items: flex-end;
}
