html, body {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  font-size: 24px;
  background-color: #fff;
  width: 100vw;
  overflow-x: hidden;
  color: #424242;
}

@media screen and (max-width: 1380px) {
  html, body {
    font-size: 20px;
  }
}

h1, h2, h3, h4, h5 {
  margin: 0;
  color: #6CB310;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.25em;
}

a {
  color: #1F81CC;
  font-size: 1em;
}

p {
  font-size: 1em;
  margin: 0;
}

.body.scrolled {
  margin-top: 74px;
}

.anchor {
  display: block;
  position: relative;
  top: -74px;
  visibility: hidden;
}

.content {
  max-width: 1280px;
  margin: auto;
}

.body .content {
  padding: 0 1em;
}

.subtitle {
  font-size: 1em;
  color: #3b6073;
  text-align: center;
  margin-top: 1em;
}

.btn {
  border: none;
  border-radius: 1em/50%;
  font-size: 1em;
  padding: 0.5em 0.7em;
  margin: 0.5em;
  margin-top: 1em;
  background-color: #fff;
  transform: scale(1.0);
  transition: background-color 0.1s linear, transform 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #F8F8F8;
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.95);
}

.btn.callToAction {
  background-color: #144B76;
  color: #E0F3FF;
  font-weight: bold;
}

.btn.callToAction:hover {
  background-color: #1167A8;
}

.footer {
  background-color: #e0ffe3;
  font-size: 0.75em;
}

.footer .content {
  color: #000;
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer p {
  margin: 0 0.25em;
}

.wave {
  fill:#f3f3f3;
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  transform: translateY(1px);
}
